.custom-checkbox {
	width: 100%;
	padding: 0 0 0 2.31rem;
	position: relative;
	$root: &;

	@media (max-width: 86.25rem) {
		width: 9.37rem;
	}

	@media (max-width: 64rem) {
		width: 10.3rem;
	}

	@media (max-width: 47.06rem) {
		width: fit-content;
	}

	@media (max-width: 31.25rem) {
		padding: 0 0 0 1.7rem;
	}

	@media (max-width: 29.37rem) {
		width: 10.3rem;
	}

	&__input {
		z-index: 10;
	}

	&__label {
		cursor: pointer;

		&::before {
			content: '';
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 0.25rem;
			background-color: $white;
			position: absolute;
			top: 50%;
			left: 0%;
			z-index: 2;
			transform: translateY(-50%);

			@media (max-width: 31.25rem) {
				width: 1.12rem;
				height: 1.12rem;
			}
		}
	}

	&__text {
		font-weight: 400;
		font-size: $px-20;
		line-height: 100%;
		color: $black;

		@media (max-width: 31.25rem) {
			font-size: $px-15;
			line-height: 133%;
		}
	}

	&__checked-icon {
		position: absolute;
		top: 50%;
		left: 4%;
		transform: translateY(-50%);
		z-index: 5;
		opacity: 0;

		transition: opacity $transition-300;

		@media (max-width: 29.37rem) {
			width: 0.51rem;
			height: 0.51rem;

			left: 4%;
		}
	}
}
