.hero {
	padding: 0 0 6.25rem;

	&__main-wrapper {
		@include flexStart(row, flex-start);
		gap: 5vw;

		@media (max-width: 86.25rem) {
			flex-direction: column-reverse;
		}

		@media (max-width: 43.75rem) {
			gap: 1.5rem;
		}
	}

	&__catalog {
		@include flexCenter(column, center, unset);
		gap: 1.87rem;

		@media (max-width: 86.25rem) {
			width: 100%;
		}

		@media (max-width: 64rem) {
			gap: 2.5rem;
		}

		@media (max-width: 29.37rem) {
			gap: 0.6rem;
		}
	}
}
